@font-face {
    font-family: 'Gilroy-bold';
    src: url('/fonts/gilroy-bold.ttf');
}

@font-face {
    font-family: 'Gilroy-medium';
    src: url('/fonts/gilroy-medium.ttf');
}

@font-face {
    font-family: 'Gilroy-regular';
    src: url('/fonts/Gilroy-Regular.ttf');
}

/* Обнуление */

*,
*,::before,
*::after {
    padding:0;
    margin: 0;
    border:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    font-family: 'Gilroy-bold';
    list-style: none;
}

img {
    vertical-align: b;
}

h1,
h2 {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42.09px;
    color:#070707;
}
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    background-color: #fff;
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #fff;
    font-family: 'Gilroy-medium';
}

p {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21.83px;
    color:#070707;
}

/*------------------------------------*/

.wrapper {
    min-width: 100%;
    display: flex;
    flex-direction: column;
}

/*------------------------------*/

._container {
    max-width: 1295px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;
}


/*---------------header-top---------------*/

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    padding-left: 23px;
    padding-right: 53px;
    height: 100%;
    display: flex;
    align-items: center;
}

.phone {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.83px;
    color: #000000;
    border-right: 1px solid #E5E5E5;
    padding-right: 30px;
    height: 100%;
    display: flex;
    align-items: center;
}

.top__btn {
    padding-left: 30px;
    padding-right: 31px;
    background-color: #fff;
    border-right: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn__glass {
    height: 40px;
    width: 270px;
    background-color: #00868A;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.48px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn__glass img {
    padding-right: 10.37px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    height: 100%;
}

.contact a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: 1px solid #E5E5E5;
    padding-right: 28px;
}

/*---------------dropdown---------------*/

.dropdown {
    float: left;
    overflow: hidden;
    background-color: #fff;
}

.dropdown .dropbtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 18.83px;
    color: #000000;
    cursor: pointer;
    background-color: #fff;
}

.dropbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropbtn img {
   padding-left: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*-----------------------------*/